.images_list {
    justify-content: space-evenly;
    display: flex;
    list-style: none;
}

.image_price {
    display: block;
}
.image_add-to-basket {
    padding: 1rem;
    width: 100%;
    font-size: 2rem;
}